<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.android.apppedidos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPedidos">
        <activity
            android:name=".EntregarRepartidor"
            android:exported="false" />
        <activity
            android:name=".HistorialRepartidor"
            android:exported="false" />
        <activity
            android:name=".PedidosRepartidor"
            android:exported="false" />
        <activity
            android:name=".LoginRepartidor"
            android:exported="false" />
        <activity
            android:name=".PantallaPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuRepartidor"
            android:exported="false" />
        <activity
            android:name=".VisualizarUsuario"
            android:exported="false" />
        <activity
            android:name=".MenuUsuario"
            android:exported="false" />
        <activity
            android:name=".PedidosUsuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>